@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rubik:wght@300;400&display=swap');

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	background: radial-gradient(circle, #f48fb1 0%, #ce93d8 20%, #b2ebf2 40%, #a5d6a7 60%, #b39ddb 100%);
	font-size: 100px;
	-webkit-background-clip: text;
	color: transparent;
	background-size: 400%;
	animation: gradient 10s linear infinite alternate;
	font-family: Open Sans, sans-serif;
	font-weight: 100;
	font-variant: normal;
}

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 100%;
	}
}
